<!DOCTYPE html>
<html lang="en">
  <title> REDDIT FLAIR WEB APP</title>
  <head>
    <link href="/static/styles.css" rel="stylesheet">
  </head>
    <body>
      <div class="container">
        <h1>r/india flair detector</h1>
        <h3>Please enter the URL of the reddit post </h3>
        <form action="{{url_for('predict')}}" method="POST">
          <input title="URL" placeholder="Enter the reddit URL" type="text" name="email_name" required> <br>
          
          <button type="submit"> Submit </button>
        </form>
      </div>
    </body>
</html>